---
apiVersion: k8s.netris.ai/v1alpha1
kind: Server
metadata:
  name: {{ server_name }}
  namespace: kcm-system
spec:
  tenant: Admin
  description: {{ server_name }}
  site: default
  portsCount: 1
  mainIp: {{ loopback_ip }}
  mgmtIp: {{ mgmt_ip }}
  tags: []
---
apiVersion: k8s.netris.ai/v1alpha1
kind: Link
metadata:
  name: {{ server_name }}-eth1
spec:
  ports:
  - swp27@leaf-0
  - eth1@{{ server_name }}
---
apiVersion: k8s.netris.ai/v1alpha1
kind: LinkAttachment
metadata:
  name: swp27-leaf-0-pxe
  namespace: kcm-system
spec:
  name: swp27@leaf-0
  vnet: pxe
  untagged: true
