---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: {{ server_name }}
  namespace: kcm-system
  labels:
    hostname: {{ server_name }}
  annotations:
    lan0.bmh.metal3.io/mac: "{{ pxe_mac }}"
spec:
  architecture: x86_64
  automatedCleaningMode: disabled
  # automatedCleaningMode: metadata
  bmc:
    address: "redfish-virtualmedia://{{ br_pxe_ip }}:8000/redfish/v1/Systems/{{ server_uuid }}/"
    disableCertificateVerification: true
    credentialsName: {{ server_name }}-bmc
  bootMACAddress: "{{ pxe_mac }}"
  bootMode: UEFI
  online: true
  rootDeviceHints:
    deviceName: /dev/vda
 #    serialNumber: "vm-disk-001"
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ server_name }}-bmc
  namespace: kcm-system
data:
  password: {{ redfish_password | b64encode }}
  username: {{ redfish_username | b64encode }}
