---
apiVersion: k8s.netris.ai/v1alpha1
kind: Softgate
metadata:
  name: {{ sg_name }}
spec:
  tenant: Admin
  description: {{ sg_name }}
  site: default
  mainIp: {{ loopback_ip }}
  mgmtIp: {{ mgmt_ip }}
  sgFlavor: "sg-hs"
  sgRole: "snat"
  tags:
{% for link in links %}
{% if link.remote == sg_name %}
    - iface.{{ link.remote_port }}={{ link.remote }}-{{ link.role }}
{% endif %}
{%- endfor %}
### LINKS ####
{% for link in links %}
{% if link.remote == sg_name %}
--- 
apiVersion: k8s.netris.ai/v1alpha1 
kind: Link
metadata: 
  name: {{ sg_name }}-{{ link.remote_port }}
spec: 
  ports: 
  - {{ link.local_port }}@{{ link.local }}
  - {{ link.remote_port }}@{{ link.remote }} 
  role: {{ link.role }}
{% endif %}
{% endfor %}
### END LINKS ###
