---
apiVersion: k8s.netris.ai/v1alpha1
kind: InventoryProfile
metadata:
  name: {{ ew_inventory_profile_name | default('roce-profile') }}
  namespace: platform-admin
spec:
  description: EW fabric profile with QoS/RoCE enabled
  allowSshFromIpv4:
    - 0.0.0.0/0
  ntpServers:
    - pool.ntp.org
  dnsServers:
    - 1.1.1.1
    - 8.8.8.8
  roce: true
  roceAdaptiveRouting: true
  congestionControl: true
