apiVersion: k8s.netris.ai/v1alpha1
kind: Site
metadata:
  name: default
spec:
  publicAsn: {{ site_public_asn }}
  rohAsn: 0
  vmAsn: 0
  rohRoutingProfile: default
  siteMesh: disabled
  aclDefaultPolicy: permit
