{%- set server_ports = [] %}
{%- for link in links %}
{%-   if link.local == switch_name and link.remote.startswith('vm-') %}
{%-     set _ = server_ports.append(link.local_port) %}
{%-   endif %}
{%- endfor %}
{% if server_ports %}
---
apiVersion: ufo.mirantis.com/v1alpha1
kind: Switch
metadata:
  name: {{ switch_name }}
  namespace: kcm-system
spec:
  hostname: {{ switch_name }}
  server_ports: {{ server_ports | join(',') }}
  provisioning_network:
    name: pxe
{% if switch.plane_id is defined %}
  plane_id: {{ switch.plane_id }}
{% endif %}
{% if switch.pod_id is defined %}
  pod_id: {{ switch.pod_id }}
{% endif %}
{% if switch.su_id is defined %}
  su_id: {{ switch.su_id }}
{% endif %}
{% if switch.rail_id is defined %}
  rail_id: {{ switch.rail_id }}
{% endif %}
{% endif %}
