[Unit]
Description=Rename Cumulus VX interfaces to breakout / port-grid names
After=network-pre.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/rename-swp.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
