apiVersion: ufo.mirantis.com/v1alpha1
kind: NetworkBundle
metadata:
  name: dogs
  namespace: kcm-system
spec:
  allocations:
    subnetAllocations:
      - name: dogs-mgmt-subnet
        prefixLength: 24
        subnetpool: default
        subnet: dogs-mgmt-subnet
        network: dogs-mgmt-net
        vpc: dogs
        gateway: true
      - name: dogs-data-subnet
        prefixLength: 24
        subnetpool: default
        subnet: dogs-data-subnet
        network: dogs-data-net
        vpc: dogs
    networks:
      - name: dogs-mgmt-net
        type: evpn
        vpc: dogs
        evpn:
          type: l3
        vlan:
          id: "auto"
        dnsServers:
        - "4.2.2.1"
      - name: dogs-data-net
        type: evpn
        vpc: dogs
        evpn:
          type: l3
        vlan:
          id: "auto"
        dnsServers:
        - "4.2.2.1"
  networkv2:
    ethernets:
      eth1:
        match:
          macAddress:
            fromAnnotation:
              object: baremetalhost
              annotation: net_interface_mgmt_0_mac
        mtu: 1500
      eth2:
        match:
          macAddress:
            fromAnnotation:
              object: baremetalhost
              annotation: net_interface_mgmt_1_mac
        mtu: 1500
      eth3:
        match:
          macAddress:
            fromAnnotation:
              object: baremetalhost
              annotation: net_interface_data_0_mac
        mtu: 1500
      eth4:
        match:
          macAddress:
            fromAnnotation:
              object: baremetalhost
              annotation: net_interface_data_1_mac
        mtu: 1500
    bonds:
      bond0:
       interfaces:
        - eth1
        - eth2
       addresses:
        - ipFromSubnet:
            name: dogs-mgmt-subnet
       gatewayv4:
         gatewayFromSubnet:
           name: dogs-mgmt-subnet
       mtu: 1500
      bond1:
       interfaces:
        - eth3
        - eth4
       mtu: 1500
    vlans:
      data:
        id:
          vlanIdFromNetwork:
            name: dogs-data-net
        link: bond1
        addresses:
         - ipFromSubnet:
             name: dogs-data-subnet
        mtu: 1500
