---
# Source: capm3-standalone-cp/templates/cluster.yaml
apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: release-name
  namespace: kcm-system
spec:
  clusterNetwork:
    apiServerPort: 6443
    pods:
      cidrBlocks:
      - 10.243.0.0/16
    services:
      cidrBlocks:
      - 10.95.0.0/16
  controlPlaneEndpoint:
    host: 10.11.0.250
    port: 6443
  controlPlaneRef:
    apiVersion: controlplane.cluster.x-k8s.io/v1beta1
    kind: K0sControlPlane
    name: release-name-cp-templ
    namespace: kcm-system
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
    kind: Metal3Cluster
    name: release-name
    namespace: kcm-system
---
# Source: capm3-standalone-cp/templates/k0scontrolplane.yaml
apiVersion: controlplane.cluster.x-k8s.io/v1beta1
kind: K0sControlPlane
metadata:
  name: release-name-cp-templ
  namespace: kcm-system
spec:
  version: v1.34.3+k0s.0
  replicas: 1
  updateStrategy: InPlace
  k0sConfigSpec:
    args:
      - --enable-worker
      - --kubelet-extra-args="--node-ip={{ ds.meta_data.provisioningIP }}"
      - --labels="metal3.io/uuid={{ ds.meta_data.uuid }}"
      - --force=false
    k0s:
      apiVersion: k0s.k0sproject.io/v1beta1
      kind: ClusterConfig
      metadata:
        name: k0s
      spec:
        telemetry:
          enabled: false
        network:
          podCIDR: 10.243.0.0/16
          serviceCIDR: 10.95.0.0/16
          provider: calico
          clusterDomain: cluster.local
          controlPlaneLoadBalancing:
            enabled: true
            type: Keepalived
            keepalived:
              vrrpInstances:
                - virtualIPs: ["10.11.0.250/24"]
                  authPass: password
              virtualServers:
                - ipAddress: "10.11.0.250"
        storage:
          type: etcd
  machineTemplate:
    infrastructureRef:
      apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
      kind: Metal3MachineTemplate
      name: release-name-cp-mt
      namespace: kcm-system
---
# Source: capm3-standalone-cp/templates/k0sworkerconfigtemplate.yaml
apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
kind: K0sWorkerConfigTemplate
metadata:
  name: release-name-machine-config
  namespace: kcm-system
spec:
  template:
    spec:
      version: v1.34.3+k0s.0
      args:
        - --kubelet-extra-args="--node-ip={{ ds.meta_data.provisioningIP }}"
        - --labels="metal3.io/uuid={{ ds.meta_data.uuid }}"
        - --force=false
---
# Source: capm3-standalone-cp/templates/machinedeployment.yaml
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineDeployment
metadata:
  name: release-name-md
  namespace: kcm-system
spec:
  clusterName: release-name
  replicas: 1
  selector:
    matchLabels:
      cluster.x-k8s.io/cluster-name: release-name
  template:
    metadata:
      labels:
        cluster.x-k8s.io/cluster-name: release-name
    spec:
      version: v1.34.3+k0s.0
      clusterName: release-name
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
          kind: K0sWorkerConfigTemplate
          name: release-name-machine-config
          namespace: kcm-system
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
        kind: Metal3MachineTemplate
        name: release-name-worker-mt
        namespace: kcm-system
---
# Source: capm3-standalone-cp/templates/metal3clustertemplate.yaml
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: Metal3Cluster
metadata:
  name: release-name
  namespace: kcm-system
spec:
  controlPlaneEndpoint:
    host: 10.11.0.250
    port: 6443
  noCloudProvider: true
---
# Source: capm3-standalone-cp/templates/metal3datatemplate.yaml
#apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
#kind: Metal3DataTemplate
#metadata:
#  name: release-name-dt
#  namespace: kcm-system
#spec:
#  clusterName: release-name
#  metaData:
#    ipAddressesFromIPPool: []
#    objectNames: []
#    prefixesFromIPPool: []
#  networkData:
#    networks: {}
#    services: {}
---
# Source: capm3-standalone-cp/templates/metal3machinetemplate-controlplane.yaml
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: Metal3MachineTemplate
metadata:
  name: release-name-cp-mt
  namespace: kcm-system
spec:
  nodeReuse: false
  template:
    spec:
      automatedCleaningMode: metadata
      dataTemplate:
#        name: release-name-dt
        name: cats
      image:
        url: http://172.16.81.254:80/artifacts/ipa/ubuntu-noble.qcow2
        format: qcow2
        checksum: 91e48663558cde5631ee3e2ad80208a774c0e1bde714b9f88989cecea9ef10c4
        checksumType: sha256
---
# Source: capm3-standalone-cp/templates/metal3machinetemplate-worker.yaml
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: Metal3MachineTemplate
metadata:
  name: release-name-worker-mt
  namespace: kcm-system
spec:
  nodeReuse: false
  template:
    spec:
      automatedCleaningMode: metadata
      dataTemplate:
#        name: release-name-dt
        name: cats
      image:
        url:  http://172.16.81.254:80/artifacts/ipa/ubuntu-noble.qcow2
        format: qcow2
        checksum:  91e48663558cde5631ee3e2ad80208a774c0e1bde714b9f88989cecea9ef10c4
        checksumType: sha256
