---
- name: Install LVP Controller
  hosts: localhost
  connection: local
  become: true
  gather_facts: true
  ignore_errors: false
  vars:
    workspace: /opt/ufo_lab/
    lvp_chart_url: https://binary.mirantis.com/bm/helm/local-volume-provisioner-2.5.0-mcp.tgz
    lvp_labels:
      local-volume-provisioner: enabled

  tasks:
    - name: install pre-requisites
      pip:
        name:
          - kubernetes

    - name: label OS computes
      kubernetes.core.k8s:
        definition:
          apiVersion: v1
          kind: Node
          metadata:
            name: "{{ ansible_hostname }}"
            labels: "{{ lvp_labels }}"

    - name: Ensure target directory
      file:
        path:  "{{ item }}"
        state: directory
      with_items:
        - "{{ workspace }}"
        - "{{ k8s_artifacts_dir }}/lvp"

    - name: Handle templates
      block:
        - name: Render templates
          ansible.builtin.template:
            src: "k8s/lvp/{{ item }}"
            dest: "{{ k8s_artifacts_dir }}/lvp/{{ item }}"
          with_items:
           - "lvp.yaml"

    - name: Deploy/upgrade lvp release
      kubernetes.core.helm:
        name: lvp
        kubeconfig: "{{ kubeconfig_path }}"
        chart_ref: "{{ lvp_chart_url }}"
        release_namespace: lvp
        create_namespace: true
        values_files:
          - "{{ k8s_artifacts_dir }}/lvp/lvp.yaml"
        state: present
        wait: true
        wait_timeout: 120s
